# list of directories with fastq files of the plates. Note that every file name has to be in format of: <dir>/<plate_number>*_S*R1_001.fastq.gz;
plates_dirs="/home/labs/amit/weiner/Work/HANJAY/MiSeq/20170731_MiSeq_TCRb/170730_M02151_0308_000000000-B653J/fastq/"
# path of table that maps plate number to AMP batch
table="/home/labs/amit/diklag/files/Plates_ABs_Patients_14_08_15.csv"
# path of the code directory
code_dir="/home/labs/amit/diklag/PycharmProjects/VDJ_proj"
# path for the output
output_dir="/home/labs/amit/diklag/output/130817"


